# Binaries
/phasionary
/phasionary-server
*.exe
*.test
*.out

# Build artifacts
/bin/
/dist/

# Coverage
*.cover
coverage.*

# OS/editor
.DS_Store
.idea/
.vscode/

# Local data
/data/

# Nix/direnv
.direnv/
result

# Web app
/web/node_modules/
/web/dist/
/internal/webui/dist/*
!/internal/webui/dist/placeholder
